---
title: Verification
icon: dot-fill
author:
  name: Prismo
  avatar: https://cdn.discordapp.com/avatars/1024365860246278244/51d5603eff69376da9a21e86b07a75bd.png?size=2048
  link: https://discord.gg/prismo
sidebar_position: 1
---


# Command: Verification

:::tip Description
`Set up a verification system for your server.`
:::

## Usage

```
.verification <set|remove> <channel> <role>
```

## Category

_**Welcome**_

:::info Aliases
- Alias 1: verification
:::

:::caution Cooldown
This command has a cooldown of 5 seconds.
:::

## Permissions

+++ User Permissions
- ManageChannels
- ManageGuild
- ViewChannel
- SendMessages
- ManageRoles
+++ Bot Permissions
- ManageChannels
- ManageGuild
- ViewChannel
- SendMessages
- ManageRoles
+++

## Requirements

[!badge variant="danger" text="❌ Vote is not required"]  
[!badge variant="danger" text="❌ Premium is not required"]

:::info Example
This is an example of the Verification command in action:

<img src="https://i.imgur.com/rCfu3Hb.png" alt="Command Image" width="400"/>

:::

